.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

.header-1 {
  height: 100%;
  background: linear-gradient(90deg, #fff 66.6666%, #fcc02a 33.3333%);
  z-index: 1000;
}

.horizon-move {
  animation: portfolio-move .75s ease-out;
  width: 100%;
  height: 33.3333%;
  background-color: #fcc02a;
  z-index: -999;
}

@keyframes portfolio-move {
  from {
    height: 100%;
  }
  to {
    height: 33.3333%;
  }
}

main:focus {
  visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  color: #444;
}

h1 a {
  color: #444;
  transition: .5s;
}

h1 a:hover {
  color: #fcc02a;
  transition: .2s;
}

p {
  font-family: Raleway, sans-serif;
}

.content {
  max-width: 260px;
}

a {
  text-decoration: none;
}

p a {
  color: #444;
}

li a {
  color: #fcc02a;
}

li a p:hover {
  text-decoration: underline;
}

.card-title {
  color: #000;
}

.profile-img {
  object-fit: contain;
  max-height: auto;
  max-width: 350px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.full-height {
  height: 100vh;
}

.move {
  animation: move .5s ease-out infinite alternate;
  color: #444;
}

@keyframes move {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

ul li a {
  color: #fff;
  font-family: Raleway, sans-serif;
}

ul li a:hover {
  text-decoration: underline;
}

ol li a {
  color: #fff;
  font-family: Raleway, sans-serif;
  border: 2px solid #fcc02a;
}

ol li {
  width: 10%;
}

ol li a:hover {
  border: 2px solid #fff;
  border-radius: 50%;
}

.current {
  border: 2px solid #fff;
  background: #fff;
  border-radius: 50%;
  color: #fcc02a;
}

header nav p a {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

nav {
  background-color: #fcc02a;
  color: #fff;
  font-family: Raleway, sans-serif;
}

.yellow-bg {
  background-color: #fcc02a;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
}

.sticky:focus-within {
  z-index: 10000000000;
}

.sticky li {
  display: inline-block;
  margin-bottom: 0;
  font-size: 75%;
}

.pad-main {
  padding-top: 4em;
}

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container {
  padding: 10px;
}

footer {
  background-color: #444;
  color: #fff;
  font-family: Raleway, sans-serif;
}

footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}

.wrapper-2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 55em;
  width: 100%;
}

hr {
  border: 1px solid #fcc02a;
}

.services {
  color: #444;
  font-family: Raleway, sans-serif;
}

.double-column {
  column-count: 1;
  column-gap: 7em;
  column-fill: auto;
}

.h2-underline {
  width: 50vw;
  text-align: right;
  border-bottom: 2px solid #fcc02a;
}

.embed-enlarge:hover {
  overflow: visible;
  height: 140%;
  width: 140%;
  margin: -20%;
  z-index: 99;
}

.sticky-2 {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header-2 {
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(0deg, #fff 66.6666%, #fcc02a 33.3333%); */
  z-index: 100;
}

.header-grid {
  padding-top: 10vh;
}

.unit-height {
  height: 70vh;
}

.box-title {
  padding-top: 100%;
}

.text-push {
  position: static;
}

.unit-max-w {
  max-width: 20em;
}

.margin-r {
  margin-right: 10vw;
}

.strike {
  text-decoration: line-through;
}

.img-border {
  border: 2px solid #999;
}

@media only screen and (min-width: 0em) {

  footer .copyright {
    text-align: center;
  }

  footer .bot-nav {
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  .profile-img {
    max-width: 250px;
    margin-left: 20px;
  }

  .content {
    padding-left: 20px;
    max-width: 310px;
  }

  .sticky {
    left: 1vw;
    width: 200px;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .sticky li {
    display: block;
    font-size: 100%;
  }

  .pad-main {
    padding-top: 3em;
  }

  .polaroid:hover .polaroid-img {
    transform: scale(1.1);
    transition: .5s;
  }

  .polaroid-img {
    transition: 1s;
  }

  footer .copyright {
    text-align: left;
  }

  footer .bot-nav {
    text-align: right;
  }

  .double-column {
    column-count: 2;
    column-gap: 4em;
    column-fill: auto;
  }

  .unit-height {
    height: 70vh;
  }

  .box-title {
    padding-top: 100%;
  }

  .text-push {
    position: absolute;
    top: 32vh;
  }

}

@media only screen and (min-width: 60em) {

  .profile-img {
    max-width: 300px;
  }

  .sticky {
    left: 2vw;
  }

  .double-column {
    padding: 2em 0 0 0;
    column-gap: 7em;
  }

  .h2-underline {
    width: 42vw;
    text-align: right;
    border-bottom: 3px solid #fcc02a;
  }

}

@media only screen and (min-width: 90em) {

  .sticky {
    left: 7vw;
  }

  .h2-underline {
    width: 33.3333vw;
    text-align: right;
    border-bottom: 3px solid #fcc02a;
  }

  .margin-r {
    margin-right: 20vw;
  }

}
