header {
  height: 100%;
  background: linear-gradient(90deg, #fff 66.6666%, #fcc02a 33.3333%);
  z-index: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  color: #122244;
}

p {
  font-family: Raleway, sans-serif;
}

.content {
  max-width: 260px;
}

a {
  text-decoration: none;
}

p a {
  color: #000;
}

li a {
  color: #fcc02a;
}

li a p:hover {
  text-decoration: underline;
}

.profile-img {
  object-fit: contain;
  max-height: auto;
  max-width: 350px;
  overflow: hidden;
}

.blue-text {
  color: #122244;
}

.full-height {
  height: 100vh;
}

.move {
  animation: move .5s ease-out infinite alternate;
  color: #122244;
}


ul li a {
  color: #fff;
  font-family: Raleway, sans-serif;
}

ul li a:hover {
  text-decoration: underline;
}


nav {
  background-color: #fcc02a;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 200px;
}

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container {
  padding: 10px;
}

.shift-left {
  padding-left: 5%;
}

.shift-right {
  padding-right: 2%;
}

@keyframes move {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 0em) {



}

@media only screen and (min-width: 38em) {

  .profile-img {
    max-width: 250px;
    padding-left: 20px;
  }

  .content {
    padding-left: 20px;
    max-width: 310px;
  }

  .sticky {
    left: 1vw;
  }

  .polaroid:hover .polaroid-img {
    transform: scale(1.1);
    transition: .2s;
  }

}

/* .container {
  display: inline-block;
  cursor: pointer;
  float: right;
} */

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 7px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.topnav {
  display: none;
  overflow: hidden;
  background-color: #fff;
  margin-top: 4em;
  z-index: 10;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  font-family: 'Quicksand', sans-serif;
  background-color: #76accc;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
}

.topnav a:hover {
  background-color: #fff;
  color: black;
}

@media only screen and (min-width: 60em) {

  .profile-img {
    max-width: 350px;
  }

  .sticky {
    left: 2vw;
  }

}

@media only screen and (min-width: 90em) {

  .sticky {
    left: 10vw;
  }

}
