<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Marie Scharfe Design</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:400,400i,700" rel="stylesheet">
  <link href="/favicon.ico" rel="shortcut icon">
  <meta name="description" content="{{page.meta-description}}">
</head>
<body>

  <div class="skip-links">
    <a href="#nav">Jump to nav</a>
    <a href="#main">Jump to main content</a>
    <a href="#contentinfo">Jump to footer content</a>
  </div>


  <header role="banner" class="header-1 full-height relative" id="about">
    <div class="pin-c wrapper">
      <div class="grid grid-middle island">
        <div class="unit xs-1 m-1-2">
          <div class="content">
            <h1 class="tenamega push-0"><a href="{{site.baseurl}}/{{page.language}}">{{page.hello}}</a></h1>
            <p class="nano">{{page.intro}}</p>
          </div>
        </div>
        <div class="unit [ xs-1-3 m-1-2 ]">
          <div>
            <img class="img-flex profile-img" src="{{site.baseurl}}/images/me.jpg" alt="portrait of Marie Scharfe">
          </div>
        </div>
      </div>
    </div>
    <div class="pin-cb pad-b-1-2">
      <a href="#main"><p class="move">V</p></a>
    </div>
  </header>

  <nav role="navigation" id="nav" tabindex="0" class="sticky">
    <ul class="list-group text-upper text-center push-0">
      <li class="island-1-2">
        <a href="#about">{{page.nav-1}}</a>
      </li>
      <li class="island-1-2">
        <a href="#main">{{page.nav-2}}</a>
      </li>
      <li class="island-1-2">
        <a href="#services">{{page.nav-3}}</a>
      </li>
      <li class="island-1-2">
        <a href="#contact">{{page.nav-4}}</a>
      </li>
      <li class="pad-t-1-2">
        <a class="pico" href="{{site.baseurl}}/{{page.language}}#main">{{page.language-selector}}</a>
      </li>
    </ul>
  </nav>

  <main role="main" class="wrapper pad-main" id="main">
    <div class="grid gutter center-block">
      <div class="unit [ xs-1 m-2-3 l-4-5 xl-1 ] unit-offset-m-1-3 unit-offset-l-1-5 unit-offset-xl-0">
        <div class="grid gutter-1-2">
          <div class="unit [ xs-1 l-1-2 ] pad-b-2 gutter-1-2">
            <a href="{{site.baseurl}}/simple-split{{page.link-fr}}">
              <div class="polaroid">
                <div class="embed embed-1by1">
                  <img class="embed-item polaroid-img" src="{{site.baseurl}}/images/case-study-simple-split.jpg" alt="Simple Split logo">
                </div>
                <div class="container island-1-2">
                  <p class="push-0 card-title">{{page.polaroid-1}}</p>
                  <p class=" push-0 card-title micro">{{page.polaroid-11}}</p>
                </div>
              </div>
            </a>
          </div>
          <div class="unit [ xs-1 l-1-2 ] pad-b-2 gutter-1-2">
            <a href="{{site.baseurl}}/basic-white-witch{{page.link-fr}}">
              <div class="polaroid">
                <div class="embed embed-1by1">
                  <img class="embed-item polaroid-img" src="{{site.baseurl}}/images/case-study-basic-white-witch.jpg" alt="Basic White Witch logo">
                </div>
                <div class="container island-1-2">
                  <p class="push-0 card-title">{{page.polaroid-2}}</p>
                  <p class=" push-0 card-title micro">{{page.polaroid-22}}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="unit [ xs-1 m-2-3 l-4-5 xl-1 ] unit-offset-m-1-3 unit-offset-l-1-5 unit-offset-xl-0">
        <div class="grid gutter-1-2">
          <div class="unit [ xs-1 l-1-2 ] pad-b-2 gutter-1-2">
            <a href="{{site.baseurl}}/lac-sainte-marie{{page.link-fr}}">
              <div class="polaroid">
                <div class="embed embed-1by1">
                  <img class="embed-item polaroid-img" src="{{site.baseurl}}/images/case-study-lac-sainte-marie.jpg" alt="Municipalité of Lac-Sainte-Marie logo">
                </div>
                <div class="container island-1-2">
                  <p class="push-0 card-title">{{page.polaroid-3}}</p>
                  <p class=" push-0 card-title micro">{{page.polaroid-33}}</p>
                </div>
              </div>
            </a>
          </div>
          <div class="unit [ xs-1 l-1-2 ] pad-b-2 gutter-1-2">
            <a href="{{site.baseurl}}/wondering-about-a-vegan-diet{{page.link-fr}}">
              <div class="polaroid">
                <div class="embed embed-1by1">
                  <img class="embed-item polaroid-img" src="{{site.baseurl}}/images/case-study-wondering-about-a-vegan-diet.jpg" alt="Wondering About a Vegan Diet logo">
                </div>
                <div class="container island-1-2">
                  <p class="push-0 card-title">{{page.polaroid-4}}</p>
                  <p class=" push-0 card-title micro">{{page.polaroid-44}}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="unit [ xs-1 m-2-3 l-4-5 xl-1 ] unit-offset-m-1-3 unit-offset-l-1-5 unit-offset-xl-0">
        <div class="grid gutter-1-2">
          <div class="unit [ xs-1 l-1-2 ] pad-b-2 gutter-1-2">
            <a href="{{site.baseurl}}/iconography{{page.link-fr}}">
              <div class="polaroid">
                <div class="embed embed-1by1">
                  <img class="embed-item polaroid-img" src="{{site.baseurl}}/images/placeholder-1by1.jpg" alt="">
                </div>
                <div class="container island-1-2">
                  <p class="push-0 card-title">{{page.polaroid-5}}</p>
                  <p class=" push-0 card-title micro">{{page.polaroid-55}}</p>
                </div>
              </div>
            </a>
          </div>
          <div class="unit [ xs-1 l-1-2 ] pad-b-2 gutter-1-2">
            <a href="{{site.baseurl}}/digital-montages{{page.link-fr}}">
              <div class="polaroid">
                <div class="embed embed-1by1">
                  <img class="embed-item polaroid-img" src="{{site.baseurl}}/images/placeholder-1by1.jpg" alt="">
                </div>
                <div class="container island-1-2">
                  <p class="push-0 card-title">{{page.polaroid-6}}</p>
                  <p class=" push-0 card-title micro">{{page.polaroid-66}}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </main>

  <div class="gutter-2 island" id="services">
    <hr class="wrapper">
  </div>

  <section>
    <ul class="list-group text-center services">
      <li class="island-1-2">{{page.services-1}}</li>
      <li class="island-1-2">{{page.services-2}}</li>
      <li class="island-1-2">{{page.services-3}}</li>
      <li class="island-1-2">{{page.services-4}}</li>
      <li class="island-1-2">{{page.services-5}}</li>
      <li class="island-1-2">{{page.services-6}}</li>
      <li class="island-1-2">{{page.services-7}}</li>
    </ul>

  </section>

  <div class="gutter-2 island" id="contact">
    <hr class="wrapper">
  </div>

  <aside id="data-author" itemprop="author" itemscope itemtype="https://schema.org/Person" class="push-2 text-center wrapper">
    <div class="grid">
      <div class="unit xs-1 m-1-2">
        <a class="icon-link gutter" href="#">
          <i class="icon i-48">
            <img src="{{site.baseurl}}/images/location.svg" alt="location icon">
          </i>
        </a>
        <a itemprop="email" class="icon-link gutter" href="mailto:me.scharfe@gmail.com">
          <i class="icon i-48">
            <img src="{{site.baseurl}}/images/email.svg" alt="email icon">
          </i>
        </a>
        <a class="icon-link gutter" href="#">
          <i class="icon i-48">
            <img src="{{site.baseurl}}/images/telephone.svg" alt="telephone icon">
          </i>
        </a>
      </div>
      <div class="unit xs-1 m-1-2">
        <a class="icon-link gutter" href="https://www.instagram.com/mariescharfe">
          <i class="icon i-48">
            <img src="{{site.baseurl}}/images/instagram.svg" alt="instagram icon">
          </i>
        </a>
        <a class="icon-link gutter" href="https://twitter.com/MarieScharfe">
          <i class="icon i-48">
            <img src="{{site.baseurl}}/images/twitter.svg" alt="twitter icon">
          </i>
        </a>
        <a class="icon-link gutter" href="https://www.facebook.com/me.scharfe">
          <i class="icon i-48">
            <img src="{{site.baseurl}}/images/facebook.svg" alt="facebook icon">
          </i>
        </a>
      </div>
    </div>
  </aside>

  <footer role="contentinfo" id="data-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
    <div class="grid wrapper-2 island-1-2">
      <div class="unit [ xs-1 m-1-2 l-1-3 ] unit-push-m-1-2 unit-push-l-2-3 island-1-4 micro bot-nav">
        <div class="grid">
          <div class="unit [ xs-1-4 ]">
            <a href="#about">{{page.nav-1}}</a>
          </div>
          <div class="unit [ xs-1-4 ]">
            <a href="#main">{{page.nav-2}}</a>
          </div>
          <div class="unit [ xs-1-4 ]">
            <a href="#services">{{page.nav-3}}</a>
          </div>
          <div class="unit [ xs-1-4 ]">
            <a href="#contact">{{page.nav-4}}</a>
          </div>
        </div>
      </div>
      <div class="unit [ xs-1 m-1-2 l-2-3 ] unit-pull-m-1-2 unit-pull-l-1-3 island-1-4 text-left copyright">
        <small class="pico">© <span itemprop="name">Marie Scharfe</span> 2018</small>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("a").on('click', function() {
        if (this.hash !== "") {
          var hash = this.hash;
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){
            window.location.hash = hash;
          });
        }
      });
    });
    </script>

</body>
</html>
